@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dosis:wght@200..800&family=DynaPuff:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=M+PLUS+Rounded+1c&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nabla&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Dosis:wght@200..800&family=DynaPuff:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=M+PLUS+Rounded+1c&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nabla&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Parkinsans:wght@300..800&family=Playwrite+HR+Lijeva:wght@100..400&family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

*{
  padding: 0%;
  margin: 0%;
}
.comic-neue-regular {
  font-family: "Comic Neue", serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-in-uniquifier {
  font-family: "Playwrite IN", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

li{
  float: right;
  overflow: hidden;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 2px;
}

.active{
  font-family: Comic Neue , monospace;
  font-weight: 600;
  text-decoration: none;
  background: linear-gradient(#FFAFBD , #ffc3a0);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

a{
  background: linear-gradient(#f7b096 , #5f7cff);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Comic Neue;
  font-weight: 600;
}

.logo{
  float: left;
  font-family: Playwrite IN;
  margin: 0%;
}

.logo{
  animation: logo 2s infinite ease-in-out;
}

.fiest{
  display: block;
 height: 50px;
 width: 300px;
  box-shadow: 1px 1px 10px  #fdb99b;
  border-radius: 10px;
  font-family: comic Neue;
  text-align: center;
  align-content: center;
  margin: 0% auto;
}

